.resimslider{
    height: 600px;
}
body{
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.hakkimizda{
    background-color: #f2f2f2;
}
.line{
    border: none;
    border-top: 3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
}

.igri{
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
}
.ibeyaz{
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid #fff;
    background-color: #fff;
}
.ekipcard:hover{
    opacity: 0.8;

}
.galeri{
    background-color: #f2f2f2;
}
.figure:hover{
    opacity: 0.8;
}